<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">📚 BookShelf</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Начало</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'book-list' %}">Книги</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'author-list' %}">Автори</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'genre-list' %}">Жанрове</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'review-list' %}">Рецензии</a></li>
            </ul>
        </div>
    </div>
</nav>