{% extends 'base.html' %}
{% block title %}Автори{% endblock %}
{% block content %}
<h1>Автори</h1>
<a href="{% url 'author-create' %}" class="btn btn-success mb-3">+ Добави автор</a>
<div class="row">
{% for author in authors %}
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h5>{{ author }}</h5>
        <p>Книги: {{ author.books.count }}</p>
        <a href="{% url 'author-detail' author.pk %}" class="btn btn-sm btn-outline-primary">Профил</a>
      </div>
    </div>
  </div>
{% empty %}<p>Няма автори.</p>
{% endfor %}
</div>
{% endblock %}
